{% extends 'base.html.twig' %}

{% block title %} Bienvenue à vous!{% endblock %}


{% block body %}

    <!--suppress ALL -->

    <style>
        .card, .titre {  margin-left: 8px;}
        img{ width: 16rem; height: 12rem}
        .carousel-inner img { width: 100%; height: auto}
        .carousel {height: 260px; opacity: .8; background: rgba(0, 0, 0, 0.5);}
        .carousel-item,
        .carousel-inner {height: 100%;width: auto;}
        .carousel-item {text-align: center;}

    </style>
    <h1 class="d-flex justify-content-center mb-5">Bienvenue sur la page d'accueil !</h1>
        {% for theme in themes %}
            <div class=" d-flex justify-content-start titre col-md-2  text-center">
                <a href="{{ path('show_studies_by', {'id' :theme.id}) }} ">
                        <h2>{{ theme.title | raw }}</h2>
                </a>
            </div>
            <div class=" d-flex align-items-center justify-content-start">
                    {% for study in studies %}
                        {% if theme.title == study.studytheme %}
                            <div class="card text-center mb-5 " style="width: 16rem;">
                                <a href="{{ path('app_studies_show', {'id' :study.id}) }} ">
                                    <img class="card-img-top" src="images/uploads/{{ study.image }}" alt="{{ study.image }}">
                                    <div class="card-body ">
                                        <h4 class="card-text ">{{ study.title | raw }}</h4>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        {% endfor %}
{% endblock %}
